[beacon_axis_twist_compensation]
settle_delay: 1.0
point_delay: 1.0

[axis_twist_compensation]
speed: 50
horizontal_move_z: 5

## Calibrate X-Axis
calibrate_start_x: 30
calibrate_end_x: 220
calibrate_y: 110

## Calibrate Y-Axis
calibrate_start_y: 30
calibrate_end_y: 220
calibrate_x: 110