#####################################################################
#   LED Control for Leviathan Control Board
#####################################################################

## Chamber Lighting
## Connected to LED-STRIP

[neopixel chamber_neopixel]
pin:PF10            # The pin connected to the neopixel. This parameter must be provided.
chain_count:50      # The number of Neopixel chips that are "daisy chained" to the provided pin.

##  Set the pixel order required by the LED hardware (using a string
##  containing the letters R, G, B, W with W optional). Alternatively,
##  this may be a comma separated list of pixel orders - one for each
##  LED in the chain. The default is GRB.
color_order: GRBW

## Initial color values at start-up
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0