#####################################################################
#   Leviathan MCU address, by USB ID
#####################################################################

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_350054000651303532383235-if00
restart_method: command
##--------------------------------------------------------------------



#####################################################################
#   Nitehawk-SB MCU address, by USB ID
#####################################################################

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0B003C000450303857383820-if00
restart_method: command
##--------------------------------------------------------------------



#####################################################################
#   Beacon, by USB ID
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_EF2CB6955157355957202020FF0F2002-if00

x_offset: 0 # update with offset from nozzle on your machine
y_offset: 20.6 # update with offset from nozzle on your machine
#z_offset: 3.0 # update with offset from nozzle on your machine; not technically needed with the Rev H and nozzle contact probing. 3.0mm was measured on this setup.

contact_max_hotend_temperature: 180 # increase to probe at print temps

#home_xy_position: 175, 175 # update with your safe position
home_z_hop: 10
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

mesh_main_direction: x
mesh_runs: 2