# This file contains common pin mappings for the LDO Voron 2.4 Rev. D kit
# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON 2.4 350mm Leviathan v1.1 + Nitehawk-SB v2 config

## Include MainsailOS
##--------------------------------------------------------------------
[include mainsail.cfg]
##--------------------------------------------------------------------

## Include all MCUs; Leviathan v1.1, Nitehawk-SB v2, and Beacon Probe - in that order
##--------------------------------------------------------------------
[include mcus.cfg]
##--------------------------------------------------------------------

## Include main control board (leviathan MCU, case lights, printer kinematics, steppers, bed heater, fans, filters, etc)
##--------------------------------------------------------------------
[include main_control.cfg]
##--------------------------------------------------------------------

## Include the toolhead; Nitehawk-sb v2
##--------------------------------------------------------------------
[include toolhead.cfg]
##--------------------------------------------------------------------

## Include the Nevermore filtration macros
##--------------------------------------------------------------------
[include nevermore.cfg]
##--------------------------------------------------------------------

## Enabled 'bonus' features of Klipper
##--------------------------------------------------------------------
[exclude_object] #Enables the user to cancel the continued print of a single object on a tray (in case of failure) by utilizing the "label objects" function of a slicer output (when available)
##--------------------------------------------------------------------

## Include the display configuration
##--------------------------------------------------------------------
[include display.cfg]
##--------------------------------------------------------------------

## Include all macros in root folder
##--------------------------------------------------------------------
[include macros/*.cfg]
##--------------------------------------------------------------------

## Include all macros in macros/controls folder
##--------------------------------------------------------------------
[include macros/controls/*.cfg]
##--------------------------------------------------------------------

## Include all macros in macros/gcodes folder
##--------------------------------------------------------------------
[include macros/gcodes/*.cfg]
##--------------------------------------------------------------------



#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.236
#*# pid_ki = 5.710
#*# pid_kd = 180.663
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.948
#*# pid_ki = 3.080
#*# pid_kd = 50.521
#*#
#*# [probe]
#*# z_offset = -0.960
#*#
#*# [beacon model default]
#*# model_coef = 1.5921020596178792,
#*# 	  1.9541182375027262,
#*# 	  0.8403431241740547,
#*# 	  0.4919635151864723,
#*# 	  0.20761710802039343,
#*# 	  -0.27949368406886677,
#*# 	  -0.23751139605536745,
#*# 	  0.28211952356869974,
#*# 	  0.1975072425764809,
#*# 	  -0.045742748764415433
#*# model_domain = 1.8688079471969813e-07,1.9339407185586285e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 26.251745
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.522023, -0.534538, -0.538692, -0.548416, -0.579635, -0.584251, -0.573646, -0.548390, -0.560689, -0.545176, -0.537600
#*# 	  -0.422710, -0.423194, -0.423580, -0.443221, -0.471742, -0.469552, -0.448727, -0.416151, -0.421853, -0.412710, -0.400365
#*# 	  -0.311671, -0.318603, -0.314898, -0.317761, -0.349771, -0.348893, -0.319503, -0.285070, -0.277899, -0.266887, -0.253032
#*# 	  -0.216976, -0.220565, -0.215384, -0.204448, -0.236123, -0.229897, -0.186346, -0.150043, -0.142011, -0.127574, -0.105428
#*# 	  -0.124136, -0.116796, -0.110937, -0.094688, -0.122268, -0.117716, -0.064523, -0.024464, -0.011516, 0.005381, 0.035508
#*# 	  -0.036395, -0.023932, -0.013536, 0.003363, -0.016431, 0.000000, 0.050109, 0.099280, 0.115134, 0.132656, 0.171377
#*# 	  0.057868, 0.073168, 0.090138, 0.110474, 0.104907, 0.123570, 0.169467, 0.223795, 0.245607, 0.267927, 0.306232
#*# 	  0.150805, 0.167092, 0.193023, 0.222902, 0.222395, 0.246133, 0.291027, 0.348305, 0.369575, 0.400353, 0.442489
#*# 	  0.269373, 0.284313, 0.316742, 0.351946, 0.350256, 0.375663, 0.416523, 0.486091, 0.506967, 0.541107, 0.583616
#*# 	  0.385198, 0.408962, 0.442991, 0.475578, 0.477199, 0.500914, 0.557043, 0.624245, 0.649783, 0.684404, 0.735002
#*# 	  0.505299, 0.532515, 0.565875, 0.604109, 0.611287, 0.642600, 0.702017, 0.774192, 0.800939, 0.837384, 0.889892
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 325.0
#*# min_y = 25.0
#*# max_y = 325.0
