# This file contains common pin mappings for the LDO Voron 2.4 Rev. D kit
# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON 2.4 350mm Leviathan v1.1 + Nitehawk-SB v2 config

## Include MainsailOS
##--------------------------------------------------------------------
[include mainsail.cfg]
##--------------------------------------------------------------------

## Include all MCUs; Leviathan v1.1, Nitehawk-SB v2, and Beacon Probe - in that order
##--------------------------------------------------------------------
[include mcus.cfg]
##--------------------------------------------------------------------

## Include main control board (leviathan MCU, case lights, printer kinematics, steppers, bed heater, fans, filters, etc)
##--------------------------------------------------------------------
[include main_control.cfg]
##--------------------------------------------------------------------

## Include the toolhead; Nitehawk-sb v2
##--------------------------------------------------------------------
[include toolhead.cfg]
##--------------------------------------------------------------------

## Include the Nevermore filtration macros
##--------------------------------------------------------------------
[include nevermore.cfg]
##--------------------------------------------------------------------

## Enabled 'bonus' features of Klipper
##--------------------------------------------------------------------
[exclude_object] #Enables the user to cancel the continued print of a single object on a tray (in case of failure) by utilizing the "label objects" function of a slicer output (when available)
##--------------------------------------------------------------------

## Include the display configuration
##--------------------------------------------------------------------
[include display.cfg]
##--------------------------------------------------------------------

## Include all macros in root folder
##--------------------------------------------------------------------
[include macros/*.cfg]
##--------------------------------------------------------------------

## Include all macros in macros/controls folder
##--------------------------------------------------------------------
[include macros/controls/*.cfg]
##--------------------------------------------------------------------

## Include all macros in macros/gcodes folder
##--------------------------------------------------------------------
[include macros/gcodes/*.cfg]
##--------------------------------------------------------------------



#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.236
#*# pid_ki = 5.710
#*# pid_kd = 180.663
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.948
#*# pid_ki = 3.080
#*# pid_kd = 50.521
#*#
#*# [probe]
#*# z_offset = -0.960
#*#
#*# [beacon model default]
#*# model_coef = 1.5838622407202843,
#*# 	  1.9354499570989139,
#*# 	  0.8315632141938418,
#*# 	  0.48734471444543176,
#*# 	  0.2204919870572077,
#*# 	  -0.2003165381543715,
#*# 	  -0.20539551697894048,
#*# 	  0.1935135304171229,
#*# 	  0.16992573351188867,
#*# 	  -0.014245226180329891
#*# model_domain = 1.87109769102233e-07,1.93448778923489e-07
#*# model_range = 0.200417,5.000417
#*# model_temp = 37.971772
#*# model_offset = -0.01000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.412822, -0.421508, -0.438967, -0.443109, -0.405112, -0.404084, -0.389221
#*# 	  -0.274382, -0.268404, -0.285935, -0.284957, -0.242431, -0.228756, -0.208585
#*# 	  -0.143213, -0.129165, -0.131693, -0.135743, -0.081537, -0.061062, -0.038158
#*# 	  -0.020897, -0.003901, -0.001722, 0.000000, 0.065248, 0.092715, 0.122419
#*# 	  0.098536, 0.126471, 0.139427, 0.150460, 0.212204, 0.247861, 0.282031
#*# 	  0.252492, 0.273221, 0.296200, 0.305038, 0.376658, 0.408381, 0.451416
#*# 	  0.409415, 0.442420, 0.462992, 0.472557, 0.547818, 0.584154, 0.623842
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 315.0
#*# min_y = 35.0
#*# max_y = 315.0
