# This file contains the pin mappings for the LDO Nitehawk-SB v2 toolhead control board
# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON 2.4 350mm Leviathan v1.1 config

## *** Included in this file: ***
## Neopixel lights for toolhead         [include case_lights.cfg]
## MCU path for Nitehawk-SB             [mcu nhk] section
## Extruder info
## Print Cooling Fan
## Hot end fan
## Beacon Probe
## Accelerometer
## Input Shaper
## Chamber Thermistor

## Include the Stealburner Neopixel Macros
##--------------------------------------------------------------------
[include stealthburner_leds.cfg] # Move to toolhead.cfg
##--------------------------------------------------------------------



#####################################################################
#   Extruder
#####################################################################

##  Connected to STEPPER 0
##  Heater - HEATER
##  Thermistor - TH0
[extruder]
step_pin: nhk:PB8
dir_pin: nhk:PB9
enable_pin: !nhk:PC14

##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.598409 #Bondtech 5mm drive gears in CW2
rotation_distance: 47.55888   #Galileo 2 Extruder

##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
##	Use 9:1 for G2E
max_extrude_only_distance: 101
gear_ratio: 9:1               	#G2E Gear Ratio

##  Update Microsteps depending on your Extruder Type
##  Use 32 for Stealthburner/Clockwork 2
##	Use 16 for G2E
microsteps: 16					#G2E microsteps

full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:PA7

## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhk:PB12
pullup_resistor: 2200
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 10

##  Try to keep pressure_advance below 1.0
##  Default is 0.040, leave stock
pressure_advance: 0.035
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR6
##  Connected to STEPPER 4
[tmc2209 extruder]
uart_pin: nhk:PB7
tx_pin: nhk:PB6
#diag_pin: nhk:PC13
interpolate: false
run_current: 0.6
sense_resistor: 0.100
stealthchop_threshold: 0



#####################################################################
#   Fan Control
#####################################################################
    
[fan]
##  Print Cooling Fan - FAN0
pin: nhk:PA15
tachometer_pin: nhk:PD2
kick_start_time: 0.5

##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: nhk:PD0
tachometer_pin: nhk:PD1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0



#####################################################################
#   Stealthburner Activity LED
#####################################################################
    
## A simple, onboard LED that reports activity
[output_pin act_led]
pin: nhk:PC6



#####################################################################
#   Accelerometer
#####################################################################

[adxl345]
cs_pin: nhk:PB10
spi_software_sclk_pin: nhk:PA5
spi_software_mosi_pin: nhk:PA2
spi_software_miso_pin: nhk:PA6

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
probe_points:
    175, 175, 20



#####################################################################
#   Input Shaper
#####################################################################

[input_shaper]
shaper_freq_x: 44.4
shaper_type_x: mzv
shaper_freq_y: 32.8
shaper_type_y: mzv

[printer]
max_accel: 3000  # should not exceed the estimated max_accel for X and Y axes



#####################################################################
#   TH
# #####################################################################

[temperature_sensor chamber]
## Chamber Temperature - T1
sensor_type: Generic 3950
sensor_pin: nhk:PB2
pullup_resistor: 4700
min_temp: 0
max_temp: 100
gcode_id: chamber_th


[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0