#####################################################################
#   Filament sensor - Bigtree Tech, SFS V2
#####################################################################

[filament_switch_sensor switch_sensor]
switch_pin: ^PC3
pause_on_runout: False ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
runout_gcode:
    PAUSE # [pause_resume] is required in printer.cfg
    RESPOND MSG="Filament switch runout"
    SET_DISPLAY_TEXT MSG="Filament switch runout"              # Displays info
    M117 Filament switch runout
insert_gcode:
    RESPOND MSG="Filament switch inserted"
    SET_DISPLAY_TEXT MSG="Filament switch inserted"              # Displays info
    M117 Filament switch inserted
    
    
[filament_motion_sensor encoder_sensor]
switch_pin: PC0
detection_length: 10 #2.88 is max sensitivity; larger values less sensitive
extruder: extruder
pause_on_runout: False ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
runout_gcode:
    PAUSE # [pause_resume] is required in printer.cfg
    RESPOND MSG="Filament encoder runout"
    SET_DISPLAY_TEXT MSG="Filament encoder runout"              # Displays info
    M117 Filament encoder runout
insert_gcode:
    RESPOND MSG="Filament encoder inserted"
    SET_DISPLAY_TEXT MSG="Filament encoder inserted"              # Displays info
    M117 Filament encoder inserted

[gcode_macro _SFS_ENABLE]
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1

[gcode_macro _SFS_DISABLE]
description: Disable smart filament sensor
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

[delayed_gcode ENABLE_FILAMENT_SENSOR_DELAYED] ; Places the filament sensor enable macro a inside of delayed gcode macro, for use as necessary (e.g. in the Start and Resume macros)
gcode:
    _SFS_ENABLE

[delayed_gcode DISABLE_FILAMENT_SENSOR_DELAYED] ; Places the filament sensor disable macro inside of a delayed gcode macro, for use as necessary (currently unused; 2025-05-24)
gcode:
    _SFS_DISABLE

[delayed_gcode clear_display]
gcode:
    M117