#####################################################################
#####################################################################
#   Print Cancel
#####################################################################
#####################################################################

[gcode_macro CANCEL_PRINT]
#From: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html
rename_existing: BASE_CANCEL_PRINT
gcode:
    # Disable the filament sensor
    _SFS_DISABLE
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT


# [gcode_macro CANCEL_PRINT]
# #From: mailsail.cfg
# description: Cancel the actual running print
# rename_existing: CANCEL_PRINT_BASE
# gcode:
#   ##### get user parameters or use default #####
#   {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
#   {% set allow_park = client.park_at_cancel|default(false)|lower == 'true' %}
#   {% set retract = client.cancel_retract|default(5.0)|abs %}
#   ##### define park position #####
#   {% set park_x = "" if (client.park_at_cancel_x|default(none) is none)
#             else "X=" ~ client.park_at_cancel_x %}
#   {% set park_y = "" if (client.park_at_cancel_y|default(none) is none)
#             else "Y=" ~ client.park_at_cancel_y %}
#   {% set custom_park = park_x|length > 0 or park_y|length > 0 %}
#   ##### end of definitions #####
#   # restore idle_timeout time if needed
#   {% if printer['gcode_macro RESUME'].restore_idle_timeout > 0 %}
#     SET_IDLE_TIMEOUT TIMEOUT={printer['gcode_macro RESUME'].restore_idle_timeout}
#   {% endif %}
#   {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %} _TOOLHEAD_PARK_PAUSE_CANCEL {park_x} {park_y} {% endif %}
#   _CLIENT_RETRACT LENGTH={retract}
#   TURN_OFF_HEATERS
#   M106 S0
#   {client.user_cancel_macro|default("")}
#   SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
#   # clear pause_next_layer and pause_at_layer as preparation for next print
#   SET_PAUSE_NEXT_LAYER ENABLE=0
#   SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
#   CANCEL_PRINT_BASE